:root {
  font-size: 16px;
}

.slidev-layout {
  @apply h-full;
  font-size: 2em;
  line-height: 1.4;
  color: var(--slidev-theme-text, black);

  :where(h1, h2, h3, h4, h5, h6) {
    @apply font-serif;
    text-transform: lowercase;
    font-variant: small-caps;
    line-height: 1;
  }

  :where(h1) {
    font-size: 3.5em;
  }

  :where(h2) {
    font-size: 3em;
  }

  :where(h3) {
    font-size: 2.5em;
  }

  :where(h4) {
    font-size: 2em;
  }

  :where(h5) {
    font-size: 1.5em;
  }

  :where(h6) {
    font-size: 1.25em;    
    font-weight: 500;
  }

  :where(h6:not(.opacity-100)) {
    @apply opacity-40;
  }

  & > :where(p, ul, ol, table, blockquote):not(:first-child) {
    @apply mt-4;
  }

  & > :where(p, ul, ol, table, blockquote) + :where(h1, h2, h3, h4, h5, h6) {
    @apply mt-8;
  }

  :where(blockquote) {
    @apply text-sm px-2 py-1 bg-$prism-background text-$prism-foreground border-$slidev-theme-primary border-l rounded;
  }

  :where(blockquote > *) {
    @apply my-0;
  }

  :where(table) {
    @apply w-full;
  }

  :where(tr) {
    @apply border-b border-gray-400 border-opacity-20;
  }

  :where(th) {
    @apply text-left font-400;
  }

  :where(a) {
    @apply border-current border-b border-dashed hover:text-$slidev-theme-primary hover:border-solid;
  }

  :where(td, th) {
    @apply p-2 py-3;
  }

  :where(b, strong) {
    @apply font-600;
  }

  :where(ul) {
    list-style: square inside;
    text-align: left;
  }

  :where(ol) {
    list-style: decimal inside;
    text-align: left;
  }

  :where(li) {
    @apply leading-1.8em;

    &::marker {
      color: var(--slidev-theme-bullet, var(--slidev-theme-primary));
    }
  }
  }
