.slidev-layout.default {
  @apply flex flex-col;

  .slot-default {
    /* TITLE */
    & > :where(h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child) {
      @apply bg-$slidev-theme-primary w-full py-[0.15em];
      color: white;
      text-align: center;
    }

    /* FIRST ELEMENT AFTER TITLE */
    & > :where(h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child) + * {
      @apply mt-6
    }

    /* OTHER */
    & > :not(h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child) {
      @apply mx-6;
    }
  }

  .slot-content {
    flex-grow: 1;
    overflow: hidden;
  }
}


.slidev-layout.image {
  position: absolute;
  color: var(--text-color);

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: -2;

    background-image: var(--image);
    filter: var(--image-filter);
    transform: var(--image-transform);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;

    background: var(--color);
    opacity: var(--color-opacity);
  }
}


.slidev-layout.cover {
  @apply grid grid-cols-16 grid-rows-12 grid-gap-[20px];
  font-size: 1.75em;

  & > :where(h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child) {
    grid-area: 1 / 1 / span 5 / span 16;
    place-self: end center;
    text-align: center;
    padding: 0 0.2em 0.1em;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-transform: none;
    font-variant: none;
  }

  & > :where(h1:nth-child(2), h2:nth-child(2), h3:nth-child(2), h4:nth-child(2), h5:nth-child(2), h6:nth-child(2)) {
    @apply font-sans;

    grid-area: 6 / 1 / span 3 / span 16;
    place-self: start center;
    text-align: center;
    padding: 0 1.75em;
    margin-top: -1rem;
    font-weight: 100;
    letter-spacing: -0.01em;
  }

  .meta {
    grid-area: 10 / 2 / span 2 / span 7;
    place-self: end start;
    margin-bottom: -25px;
    font-weight: 100;
    line-height: 1.5;
    font-size: 1.25em;
  }

  .logo {
    grid-area: 10 / 11 / span 2 / span 5;
    place-self: end;
    width: 100%;
    padding: 0;
    margin: 0px 0px -20px;

    /* LOGO STYLES */
    .border, .kul-bg, .eavise-text { fill: var(--text-color, black); }
    .kul-text { fill: none; }
    .border { opacity: 0.75; }
  }
}

.slidev-layout.section {
  @apply grid grid-cols-16 grid-rows-12 grid-gap-[20px];
  font-size: 1.75em;

  &.numbered-section > :where(h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child) {
    grid-area: 1 / 5 / span 10 / span 11;
    place-self: end left;
    padding: 0 4px;
    margin: 0;
    font-weight: 400;
    line-height: 75%;
    letter-spacing: 0.01em;
    text-transform: none;
    font-variant: none;
  }

  & > :where(h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child) {
    grid-area: 1 / 1 / span 6 / span 16;
    place-self: end center;
    text-align: center;
    padding: 0 4px;
    margin: 0;
    font-weight: 400;
    line-height: 75%;
    letter-spacing: 0.01em;
    text-transform: none;
    font-variant: none;
  }

  .number {
    @apply font-serif;

    grid-area: 4 / 2 / span 7 / span 3;
    place-self: end center;
    font-size: 400px;
    font-weight: 400;
    line-height: 65%;
    letter-spacing: 0.01em;
  }

}